<!DOCTYPE html>
<html>
<head>
  <title>QR Code</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald|Oswald:700|Quicksand|Tajawal" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
</head>
<body onload="timer()" style="background-color: black">
<style>
  table {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;

    }

    td {
      border-left: solid 10px #000;
      padding: 0; 
      margin: 0; 
      width: 0px; 
      height: 10px; 
    }


    td.black { border-color: #000; }
    td.white { border-color: #fff; }

    #cover {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #141526;
      z-index: 9999;
      font-size: 65px;
      text-align: center;
      padding-top: 200px;
      color: #fff;
      font-family:tahoma;
    }
</style>
<style>
  .flex-container{
    position: absolute;
    top: 40%;
    left: 45%;
    display: flex;
    flex-direction: row;
  }
  .box{
      display: block;
      margin: 10px;
      border: 1em solid #00ffcc;
      opacity: 0;
  }
  .one{
      animation: box-appear 3s linear infinite;
  }
  .two{
      animation: box-appear 3s linear .5s infinite;
  }
  .three{
      animation: box-appear 3s linear 1s infinite;
  }
  @keyframes box-appear{
      0%{
          opacity: 0;
      }
      16%{
          opacity: 1;
      }
      48%{
          opacity: 1;
      }
      64%{
          opacity: 0;
      }
      100%{
          opacity: 0;
      }
  }

  #preloader {
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: absolute;
    background: black;
  }

  .preloader-font {
    text-align: center;
    margin-top: 13%;
    font-weight: 900;
    color: #7da79e;
    margin-right: 2%;
  }
</style>
<div id="preloader">
  <div class="flex-container">
    <span class="box one"></span>
    <span class="box two"></span>
    <span class="box three"></span>
  </div>
    <h4 class="preloader-font">Generating Qr Code</h4>
</div>
<div style="position: absolute;left: 40%;top: 20%">
  <div class="animated fadeIn container mt-5">
    <%= raw @get_qr.as_html %>
  </div>
  <div class="actions" style="text-align: center;margin-top: 20px ">
    <a href= "<%= lectures_path %>"><i class="fas fa-chevron-circle-left" style="color: white;font-size: 3.5em"></i>
  </a>
  </div>
</div>

<script>
  var preload = document.getElementById('preloader');
  console.log(preload);
  console.log("inside timer function");
  setTimeout(function(){ preload.style.display='none';}, 2000);
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</body>
</html>
